  <!-- FOOTER -->
    <footer id="footer">
        <p data-i18n="footer1">&#9760; ZombieByte &copy; 2026 &mdash; Made with &#10084; and <a href="https://godotengine.org" target="_blank">Godot Engine</a> &#9760;</p>
        <!-- <p data-i18n="footer2">Hosted on <a href="https://neocities.org" target="_blank">NeoCities</a> &nbsp;&middot;&nbsp; Best viewed at 1280&times;768</p> -->
        <div class="footer-links">
            <a href="https://zombiebyte.itch.io/" target="_blank">itch.io</a>
            <a href="https://store.steampowered.com/curator/44084908" target="_blank">Steam</a> <a href="https://www.patreon.com/zombiebyte" target="_blank">Patreon</a>
            <a href="https://www.youtube.com/@ZombieByte1" target="_blank">YouTube</a> <a href="https://www.tiktok.com/@zombiebytegames" target="_blank">TikTok</a>
            <a href="https://www.instagram.com/zombiebytegames/" target="_blank">Instagram</a>
        </div>
        <!-- <div class="footer-badges">
            <img src="placeholder_badge_made_with_godot_88x31.png"       alt="Made with Godot">
            <img src="placeholder_badge_neocities_hosted_88x31.png"       alt="Hosted on Neocities">
            <img src="placeholder_badge_best_viewed_1024x768_88x31.png"   alt="Best viewed 1280x768 for browser games">
            <img src="placeholder_badge_html_css_only_88x31.png"          alt="HTML CSS Only">
            <img src="placeholder_badge_pixel_art_inside_88x31.png"       alt="Pixel Art Inside"> -->
        </div>
    </footer>